body {
    margin: 0;
}

.block {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-size: cover;
    background-position: center;
}

#block1 {
    background-image: url('led.jpg');
    background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
}

#block2 {
    background-image: url('BG.jpg');
    background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      color: aliceblue;
}

#block3 {
    background-image: url('BG2.jpg');
    background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      color: aliceblue;
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 2px 0 2px #000;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

